* {
    /* put this to take 0 margin and 0 padding */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header .top{
    background-color: #2C3D51;
}  

header .top .container {
    display: flex;
    justify-content: space-between;
    padding: 13px;
}

header .top .container a{
   color: #FFFFFF;
   font-size: 12px;
   font-weight: 500;
}

header .top .container .tel a {

    text-decoration: none;
}

header .top .container .tel a i{
    margin-right: 10px ;
    text-decoration: none;
    font-weight: 600;
}

header .top .container .social :not(:last-child) {
    margin-right: 10px ;
}

header .bottom .container .navigation {
    display: flex;
    align-items: center;
}

header .bottom .container {
    display: flex;
    justify-content: space-between;
    padding: 13px;
}

.bottom {
    margin-top: 25px;
}
.main {
    margin-top: 25px;
}



/* header .bottom .container .logo {
    width: 252px;
} */
.logo {
    width: 252px;
}

header .bottom .container .logo img {
    max-width: 100%;
}

header .bottom .container .navigation{
    display: flex;
}

header .bottom .container .navigation ul li {
    list-style: none;
}
/* see again not sure px */
header .bottom .container .navigation ul li:not(:last-child) {
    margin-right: 30px;
}

header .bottom .container .navigation ul {  
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header .bottom .container .navigation  ul li a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    color: #414141;
    text-transform: uppercase;
}

 /*put margin */
header .bottom .container .navigation .nav-button:not(:last-child) {
    margin-right: 20px;
}
/* button style */
header .bottom .container .navigation .nav-button li a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    background: #2d9cb1;
    border-radius: 5px;
    padding: 10px 20px;
}

/* main section .container .row .colclass1 h1 {
    text-transform: ca;
} */
 
.heading {
    font-weight: 600;
    width: 445px;
    font-size: 48px;
    color: #5F5F5F;
    text-transform: capitalize;
    text-align: left;   
    line-height: 58px;
}

.heading span {
    color: #2C3D51;
}


.rowimg1 {
   max-width: 100%;
   border-radius: 10px;

}

.row {
    display: flex;
    align-items: center;
}

.paragraph {
    font-weight: 600;
    line-height: 25px;
    font-size: 14px;
    width: 508px;
    text-align: justify;
    text-transform: capitalize;
    color: #000000;
   
}

.para-btn {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    color: #fff;
    background: #2d9cb1;
    padding: 19px 41px;
    font-size: 14px;
    border-radius: 5px;
   

}
  
  
   

