* {
    /* put this to take 0 margin and 0 padding */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header .top{
    background-color: #2C3D51;
}  

header .top .container {
    display: flex;
    justify-content: space-between;
    padding: 11px;
}

header .top .container a{
   color: #FFFFFF;
}

header .top .container .tel a {
    text-decoration: none;
    font-size: 12px;
}

header .top .container .tel a i{
    margin-right: 10px ;
    text-decoration: none;
}
header .top .container .social :not(:last-child) {
    margin-right: 10px ;
    font-size: 12px;
}

header .bottom .container {
    display: flex;
    justify-content: space-between;
    /* padding: 13px; we are not using padding in here*/
}

header .bottom .container .navigation {
    display: flex;
    align-items: center; 
}
header .bottom .container .navigation .nav-bar {
     margin-left: 10px; 
}

.bottom {
    margin-top: 25px;
}
.main {
    margin-top: 25px;
}

.logo {
    width: 252px;
}

header .bottom .container .logo img {
    max-width: 100%;
}

header .bottom .container .navigation{
    display: flex;
}

header .bottom .container .navigation ul li {
    list-style: none;
}
/* see again not sure px */
header .bottom .container .navigation ul li:not(:last-child) {
    margin-right: 30px;
}

header .bottom .container .navigation ul {  
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .bottom .container .navigation .nav-bar {  
font-size: 13px;
}

header .bottom .container .navigation  ul li a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    color: #414141;
    text-transform: uppercase;
}

 /*put margin */
header .bottom .container .navigation .nav-button:not(:last-child) {
    margin-right: 20px;
}
/* button style */
header .bottom .container .navigation .nav-button li a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    background: #2d9cb1;
    border-radius: 5px;
    padding: 10px 20px;
}

/* main section .container .row .colclass1 h1 {
    text-transform: ca;
} */
 
.heading {
    font-weight: 600;
    /* width: 445px; */
    font-size: 48px;
    color: #5F5F5F;
    text-transform: capitalize;
    /* text-align: left;    */
    line-height: 58px;
}

.heading span {
    color: #2C3D51;
}

.image1{
    position: relative;
    width: 100%;
    height: 100%;
}

.rowimg1 {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* object-fit: cover; set in to the container */
    object-fit: cover;
 }

.colclass1 {
    /* padding: 145px, 0, 100px, 0; */
    padding-top: 145px;
    padding-bottom: 100px;
}

.paragraph {
    font-weight: 600;
    font-size: 14px;
    width: 508px;
    text-align: justify;
    text-transform: capitalize;
    color: #000000; 
    margin-bottom: 40px;  
    line-height: 146%;
}

.para-btn {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    color: #fff;
    background: #2d9cb1;
    padding: 19px 41px;
    font-size: 14px;
    border-radius: 5px; 
}

/* section 2 styles */

.section2 {
    margin-top: 50px;
}

.col-card {
    background-color: #FFEEF7;
    text-align: center;
    border-radius: 10px;
    padding: 53px 58px 51px 46px;  
}

.col-star {
    color: #FF3FA7;   
}

.col-star i{
    margin: 0 5px 20px 5px;
}

.col1-para{
    color: #494949;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

.col1-para h6 {
    font-size: 15px;
    font-weight: 600;
    margin-top: 45px;
}

/* section 3 styles */

.section3 {
    position: relative;
    margin-top: 57px;   
}
.section3 img{
    position: absolute;
    width: 70%;
    height: 100%;
    object-fit: cover;   
}

.section3 .container .row {
    justify-content: right;
    height: 100%;
}

.sec3-paragraph {
    margin-top: 174px;
    margin-bottom: 135px;
    position: relative;
    z-index: 5;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    padding: 50px 0 27px 0;
}

.sec3-paragraph h3{
    font-weight: 600;
}

.section3::before {
    content: " ";
    position: absolute;
    right: 30%;
    width: 20%;
    height: 100%;
    background: linear-gradient(269.96deg, #FFFFFF 24.42%, rgba(255, 255, 255, 0) 59.38%);
    z-index: 3;  
}

/* section 4 styles */
.section4 {
  background: #f2f4f8;
  padding-top: 100px;

}

.sec4-content {
    text-align: center;
    
}
.sec4-content h3{
  font-weight: 600;
  font-size: 32px;
  color: #373737;
  margin-bottom: 20px;
  text-transform: capitalize;
    
 
}
.sec4-content p{
    font-weight: 600; 
    font-size: 14px; 
    margin-top: 15px;
    margin-bottom: 46px;

}

.sec4-content-btn {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    color: #fff;
    background: #2d9cb1;
    padding: 19px 72px;
    font-size: 12px;
    border-radius: 5px; 
    margin-bottom: 100px;  
}

.img-card {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 245px;
    margin-top: 79px;
}

.img-card::before {
  content: "";
  border-radius: 20px;
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 6.29%,
    rgba(0, 0, 0, 0.9) 89.46%
  );
  z-index: 2;
}
.img-card img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
    /* object-fit: cover; set in to the container */
    object-fit: cover;
}

.img-card p {
    position: absolute;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    text-align: center;
    z-index: 5;
    width: 100%;
}

/* section 5 styles */

.section5 {
    margin-top: 200px;
}

.sec5-heading {
    font-weight: 900;   
}

.sec5-para {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 15px;
}

.sec5para-btn {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    color: #fff;
    background: #2d9cb1;
    padding: 19px 78px;
    font-size: 14px;
    border-radius: 5px; 
}

.image1 {
    position: relative;
    
}

.sec5image {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
  border-radius: 0px 20px 20px 0px;
}

.sec5col {
    margin-top: 100px;
    margin-bottom: 100PX;
}

.sec5col p{
    margin-top: 20px;
    /* margin: ; */
}

.sec5para-btn {
    margin-bottom: 174PX;
}


/* section 6 styles */

.section6 {
  margin-top: 50px;
  position: relative;
}

.section6 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
}

.section6::before {
  content: "";
  position: absolute;
  right: 0%;
  width: 110%;
  height: 100%;
  background: linear-gradient(
    270deg,
    #ffffff 24.42%,
    rgba(255, 255, 255, 0) 59.38%
  );
  z-index: 2;
}

.section6 .container {
  position: relative;
  z-index: 5;
}

.section6 .container .row {
  justify-content: right;
}

.sec6-class1 {
  margin-top: 80px;
  margin-bottom: 150px;
  z-index: 5;
}

.sec6-class1 .sec6-class1-header h5 {
  text-align: center;
  color: #2c3d51;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}

.sec6-class1 .sec6-class1-header h1 {
  text-align: center;
  color: #2c3d51;
  font-size: 38px;
  font-weight: 900;
  text-transform: capitalize;
  padding: 0 29px;
  margin-bottom: 25px;
}

.sec6-class1 .sec6-class1-header h1 span {
  color: #2d9cb1;
}

.sec6-class1 form {
  position: relative;
}

.sec6-class1 form a {
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
  color: #fff;
  background: #2d9cb1;
  font-size: 14px;
  border-radius: 5px;
  position: absolute;
  width: 100%;
  padding: 22px 0;
}

/* text fields*/
input,
textarea {
  width: 100%;
  color: #ffffff;
  font-weight: 600;
  padding: 23px 13px 15px 18px;  margin-bottom: 18px;
  border-radius: 5px;
  border: none;
  background: #212121e5;
}

.email {
  width: 48%;
  display: inline-block;
  
}

.phone {
  width: 49%;
  display: inline-block;
}

.email-phone {
  display: flex;
  justify-content: space-between;
}

.message textarea {
  padding-top: 20px;
}

/* footer styles */

.footer {
  background: #2c3d51;
  padding-top: 70px;
  padding-bottom: 80px;
  font-size: 14px;
}

footer .container .row {
  justify-content: space-between;
}